# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
*.env

# PyCharm / IDE
.idea/
.vscode/

# Logs
*.log

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover

# Jupyter (if any)
.ipynb_checkpoints/
